#page {
    font-size: 40px;
    background-color: rgb(223, 209, 18);
    text-align: center;
    background-image: -moz-linear-gradient();    
}
  


ol,
ul,
h2 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;}

    h2 {
        font-size: 30px;
    }